.products {
  max-width: 900px;
  margin: 100px auto 0 auto;
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.product-image {
  max-width: 300px;
  margin-right: 40px;
}

.product-title {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 40px;
}

.product-price {
  color: rgba(0, 0, 0, 0.5);
}

.btn {
  background: #000;
  cursor: pointer;
  color: #fff;
  border: none;
  font-size: 1rem;
  padding: 10px 25px;
  font-family: 'Noto Serif', serif;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.btn:hover {
  background: #808080;
}

.btn--product {
  margin-right: 20px;
}

@media screen and (max-width: 900px) {
  .products {
    margin-top: 40px;
  }

  .product {
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    margin: 30px auto;
  }

  .product-info {
    padding: 20px;
  }

  .product-image {
    max-width: 100%;
    margin-right: 0;
  }

  .product-title {
    font-size: 1.5rem;
  }
}
